body{
	font-family: 'Julee', cursive;
}
.frame{
	width:100%;
	height:1000vh;
}
.content{
	width:95%;
	margin:10% auto;
	padding: 1em;
}
.arrow{
	width:10%;
}
h1{
	font-size: 4em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
}
h3,a{
	font-size: 2em;
	letter-spacing: 0.1em;
	text-align: center;
}
a{
	text-decoration: none;
	text-align: center;
}
a:hover,a:visited,a:active{
	opacity: 0.5;
	cursor: pointer;
}
#home{
	width:80%;
	height:50%;
	margin:15% auto;
}
div#home{
	outline: 10px groove red;
	padding: 1em;
	text-align: center;
}
/*page effect section-------------------------------------------------*/
.slideRotateLeft{
	animation:2s slideRotateLeft ease-in-out 1;
}
@keyframes slideRotateLeft{
	0% { 
		opacity: 0;
	}
	40% {  
		transform-origin: 80% 80%;
		transform:scale(0.4) rotateY(-30deg); 
		opacity: .5; 
		animation-timing-function: ease-out; 
	}
	100% { 
		translate: translateZ(-100px) rotateY(90deg);
		opacity:1; 
	}
}
.fromLeft{
	animation:2s moveFromLeft ease-in-out 1;
}
@keyframes moveFromLeft {
	from { 
		transform: translateX(-100%); }
}
.fromright{
	animation:2s moveFromRight ease-in-out 1;
}
@keyframes moveFromRight {
	from { 
		transform: translateX(120%); }
}
.flip{
	animation:2s flipInLeft  both 1;
}
@keyframes flipInLeft {
	from { 
		transform: translateZ(-1000px) rotateY(-90deg); 
		opacity: 0.2; }
}
.outTop{
	animation:2s flipOutTop both 1;
}
@keyframes flipOutTop {
	from { }
	to { 
		transform: translateZ(-1000px) rotateX(90deg); 
		opacity: 0.2; }
}
.inTop{
	animation:2s inTop both 1;
}
@keyframes inTop {
	from {
		transform: translateZ(-1000px) rotateX(90deg); 
		opacity: 0.2; }
}
/*img#rightA:active,img#rightA:visited{
	transform: translate(200px,0);
	transition: 5s;
}*/
/*menu-----------------------------------------------------------*/
.menu{
	position:fixed;
	z-index: 100;
}
.dropbtn, .homeBt{
	opacity:0.5;
    background-color:rgb(0,0,0);
    font-family:sans-serif;
    color: white;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
.dropbtn:hover,.dropbtn:active,.dropbtn:visited,.dropbtn:focus,
.homeBt:hover,.homeBt:active,.homeBt:visited,.homeBt:focus{
	opacity: 1;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    margin-bottom:2em;
    font-size: 0.5em;
    position: absolute;
	background-color:rgba(0,0,0,0.8);
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 10;
}
.dropdown-content a{
    color: white;
    padding:0.2em;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover, .dropdown-content a:active,.dropdown-content a:visited{
	background-color:rgba(0,0,0,1);
}
.dropdown:hover .dropdown-content{
    display: block;
}
/*background img----------------------------------------------------*/
.shadow{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0.2em;
    z-index: 3;
}
.blk{
	background: rgba(0,0,0,0.7);
	padding:0.2em;
}
.wt{
	background: rgba(255,255,255,0.8);
	z-index: 2;
}
#girlreading{
	background:#ffffff url(img/girlreading.png) no-repeat left top;
	background-attachment: scroll;
	background-size: cover;
}
#thirdQ,#offLight{
	background:url(img/underneath_bookcase.png) no-repeat left top;
	background-size: 40%;
	background-attachment: fixed;
}
#sleep,#despaired{
	background:url(img/underneath_bookcase.png) no-repeat right bottom;
	background-attachment: fixed;
	background-size: 100%;
}
#friendshome{
	background:url(img/sleep.jpg) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
#sixthQ{
	background:url(img/Ava.svg) no-repeat right bottom;
	background-attachment: fixed;
	background-size: 70%;
}
#sevenQ{
	background:url(img/sleep.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: 100%;
}
#eightQ{
	background:url(img/tombstone.png) repeat center center;
	background-attachment: fixed;
	background-size: 30%;
}
#ninth{
	background:url(img/menreading.png) no-repeat left bottom;
	background-attachment: fixed;
}
#tenthQ{
	background:url(img/star1.png) no-repeat left top;
	background-attachment: fixed;
	background-size: cover;
}
#elethQ{
	background:url(img/william.svg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}
#twethQ{
	background:url(img/ghost.png) no-repeat left bottom;
	background-attachment: fixed;
	background-size: 35%;
}
#thirthQ{
	background:url(img/vegetable.png) no-repeat left bottom;
	background-attachment: fixed;
	background-size: cover;
}
/*citation page-----------------------------------------*/
#citation{
	width:80%;
	margin:10% auto;
	padding: 1em;
	font-kerning: auto;
	font-size: 0.5em;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}
footer{
	width:100%;
	text-align: center;
}




















